*.swp
Makefile.in
aclocal.m4
autoconf
autoheader
autom4te.cache
automake
autoscan.log
compile
configure
configure.scan
config.guess
config.log
config.sub
config.status
Makefile
depcomp
install-sh
libtoolize
ltmain.sh
libtool
make/stamp-h1
m4
make/clusterautoconfig.h*
missing
*.pc
.deps
.libs
*.o
*.la
*.lo
*.loT
rgmanager/src/resources/fs.sh
rgmanager/src/resources/oracledb.sh
rgmanager/src/resources/utils/config-utils.sh
resource-agents-*
.version

*.cache
*.upgrade.xml
py-compile
ylwrap

# BEAM Entries
*.beam
parser-messages
MISC_ERRORS
cscope.files
cscope.out
patches
updates
logs

# OS and Editor Artifacts
.DS_Store
.bomb
*.rej
*.bz2
*.gz
*.xz
*.sed
*.diff
*.patch
*.gres
*~

# Misc
HTML
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
.gres.*
*.orig
.gdb_history
*~ 
\#*
.changes
pacemaker.tar.gz
